---
layout: default
description: Greg Mayes' personal website and software development blog
---

<main class="2xl:mx-auto 2xl:w-3/4 grow px-5 mt-5">
  <h1 class="text-3xl font-semibold">Introduction</h1>

  <p class="mt-3">
    I'm Greg Mayes and this is my personal website. I'm a software engineer currently residing in Stoke-on-Trent, UK.
  </p>

  <p class="mt-3">
    I mainly work with PHP (Laravel) and JavaScript but I've dabbled with plenty of other languages, frameworks, and domains. You can find the source code for this website <a
      href="https://github.com/GregMayes/website"
      class="text-blue-600 hover:text-blue-800"
    >on GitHub</a>.
  </p>

  <hr class="h-px my-5 bg-gray-400 border-0" />

  <h2 class="text-2xl font-semibold">
    Posts
  </h2>

  <ul class="list-disc list-inside mt-2">
    {% if site.posts.size == 0 %}
      <p>
        <i>Check back soon</i>
      </p>
    {% else %}
      {% for post in site.posts %}
        <li class="mb-2">
          <a
            href="{{ post.url }}"
            class="text-blue-600 hover:text-blue-800"
          >
            {{ post.title }}
          </a> <small>{{ post.date | date: "%Y-%m-%d" }}</small>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</main>

{% include footer.html %}
