<nav class="flex-none bg-linear-to-r from-purple-500 to-pink-200 drop-shadow-md">
  <div class="flex items-center justify-between p-5">
    <a
      href="/"
      class="text-sm md:text-lg font-press-start text-white hover:text-gray-300 drop-shadow-md"
    >
      gregmayes.dev
    </a>

    <div class="flex items-center">
      <a
        href="mailto:hello@gregmayes.dev"
        aria-label="hello@gregmayes.dev"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 hover:opacity-70"
          alt="Email icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
          />
        </svg>
      </a>

      <a
        href="https://github.com/GregMayes"
        aria-label="Link to my GitHub account - GregMayes"
        target="_blank"
        class="ml-4 hover:opacity-60"
      >
        <img
          class="h-6 w-6"
          alt="GitHub logo"
          src="/assets/images/github-mark.svg"
        />
      </a>

      <a
        href="https://www.gregmayes.dev/feed.xml"
        aria-label="gregmayes.dev RSS feed"
        target="_blank"
        class="ml-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="black"
          stroke-width="2.25"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-6 h-6 hover:opacity-70"
          alt="RSS feed"
        >
          <circle
            cx="5"
            cy="19"
            r="2"
            fill="black"
          />
          <path
            d="M4 4c8.5 0 16 7.5 16 16"
          />
          <path
            d="M4 11c5.5 0 10 4.5 10 10"
          />
        </svg>
      </a>
    </div>
  </div>
</nav>
