<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >
    <meta charset="utf-8">

    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title}}
      {% endif %}
    </title>

    {% assign cacheBuster = site.time | date:'?v=%s' %}

    <link
      rel="stylesheet"
      href="{{ "/assets/css/main.css" | relative_url | append: cacheBuster }}"
    >
    <link
      rel="stylesheet"
      href="{{ "/assets/css/syntax.css" | relative_url | append: cacheBuster }}"
    >

    {% seo %}
  </head>

  <body class="flex flex-col h-svh overflow-y-auto">
    {% include header.html %}

    {{ content }}
  </body>
</html>
