<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title}}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <nav class="bg-gradient-to-r from-purple-500 via-blue-500 to-green-600 px-5 py-4 sticky top-0 z-40">
      <a
        href="/"
        class="text-lg tracking-widest text-white hover:text-gray-300"
      >
        gregmayes.dev
      </a>
    </nav>

    <main class="px-5 mt-5">
      {{ content }}
    </main>
  </body>
</html>
