---
layout: default
---

<main class="2xl:mx-auto 2xl:w-3/4 grow px-4 md:px-5 mt-4 md:mt-6 2xl:mt-8">
  <article>
    <header>
      <h1>
        {{ page.title }}
      </h1>

      <p class="text-sm">
        Published on {{ page.date | date: "%Y-%m-%d" }}
      </p>

      {% if page.tags %}
        <ul class="list-none mt-2 flex flex-wrap gap-2" aria-label="Tags">
          {% for tag in page.tags %}
            <li class="text-xs bg-blue-200 rounded px-2 py-1">
              {{ tag }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </header>

    <div class="markdown my-6">
      {{ content }}
    </div>
  </article>
</main>
